/* creating the style in the css of the card  */
*{
    margin: 0px;

}
#main-container{
    background-color: white;



}
#sub-container{
    margin-top: 50px;
    background-color: antiquewhite;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid red;
    border-radius: 5px;
     height: 70vh;

}
#child-container-id{
  
    background-color: rgb(212, 199, 182);
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
   
    

}
#child-container-username{
    background-color: rgb(212, 199, 182);
    margin-top: 10px;
    font-size: 25px;

}
#child-container-name{
    background-color: rgb(212, 199, 182);
    margin-top: 10px;
    font-size: 20px;

}
#child-container-email{
    background-color: rgb(212, 199, 182);
    margin-top: 10px;
    font-size: 20px;


}
#child-container-phoneNo{
    background-color: rgb(212, 199, 182);
    margin-top: 10px;
    font-size: 20px;

}
#child-container-website{
    background-color: rgb(212, 199, 182);
    margin-top: 10px;
    font-size: 20px;

}