*{
    margin-left: 0px;
    margin-top: 0px;
    background-color: antiquewhite;
}
#container{
    background-color: burlywood;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    height: 90vh ; 
    border: 2px red solid;
    color: black;
    text-align: center;
}

#header{
    color: brown;
    font-size: 50px;
    text-align: center;
    background-color: inherit;

}
#score{
    font-size: 50px;
    text-align: center;
}
#emoji{
    font-size: 50px;
    text-align: center;
}

